@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none !important;
}

.landing-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0% , rgba(0, 0, 0, .5) 75%,rgba(0, 0, 0, 1) 100%),
                      url('../../assets/images/landing.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-us-container {
    max-width: 1000px;
    margin: 100px auto;
    padding: 60px 30px;
    text-align: center;
    color: #fff;
    background: linear-gradient(to bottom right, #1e1e1e, #2a2a2a);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.about-us-container h2 {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffb71c;
    margin-bottom: 30px;
}

.about-us-container p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
    font-weight: 400;
}

.section-background {
    background-color: #000000;
    padding: 100px 0;
    
}


.title {
    color: #ffb71c;
    font-size: clamp(32px, 8vw, 80px);
    font-weight: bold;
    text-transform: uppercase;
}

.subtitle {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.mini {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.view-btn {
    background-color: #ffae00;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bold;
    margin-top: 50px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    transition: all .3s ease;
    border-radius: 10px;
}

.view-btn:hover {
    cursor: pointer;
    transform: scale(95%);
    background-color: #ef9000;

}

.view-btn:active {
    transform: scale(80%);
}